h1 {
    text-align: center;
    color:steelblue;
    font-family:monospace;
    font-size: 65px;
}

.boilerh2 {
    text-align: left;
    color:steelblue;
    font-family: monospace;
    font-size: 45px;
}

.boilerp {
    text-align: left;
    color: crimson;
    font-family: monospace;
    font-size: 25px;

}

.table1 {

    color: crimson;
    font-family: monospace;
    font-size: 17px;
    
}

#thead {
    color: crimson;
    font-family: monospace;
    font-size: 20px;
}


body {
    background-color: palegoldenrod;
}

.table1, #thead {
border-collapse: collapse;
border: 1px solid black;
padding: 10px;
max-width: 700px;
}
